.slidecontainer {
  width: 175px;
  background-image: url('UI%20%26%20Design%20Elements/Slider_Bar.png'); 
  background-size: cover;
  background-repeat: no-repeat;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 175px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent; 
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 50%;
  background-image: url('UI%20%26%20Design%20Elements/Slider_Thumb.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 50%;
  background-image: url('UI%20%26%20Design%20Elements/Slider_Thumb.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}